/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #5a0000, #800000, #3d0000);
}

/* Container (card) */
.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* Heading */
.container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;

    transition: 0.3s;
}

/* Input focus */
input:focus {
    border-color: #4facfe;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

/* Hover effect */
button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/* Links */
a {
    color: #4facfe;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Text */
p {
    margin-top: 15px;
    color: #555;
}